body {
}

.headerClass {
    margin-top: 45px;
    margin-left: 120px;
}

#wrapper {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 50px;
    height: 100%;
}

#scorePanel {
    background-color: #b6ff00;
    width: 30%;
    float: left;
}

#gamePanel {
    width: 50%;
    height: (100% - 200px);
    float: left;
    background-color: #ff6a00;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
